In [26]:
#Librerias
import pandas as pd
import numpy as np
import seaborn as sns
import pandas_profiling

# Data Visualization

In [4]:
df = pd.read_csv("dataset_galicia.csv")

In [6]:
df.drop(df.columns[0], axis=1, inplace=True)

In [7]:
df.head()

,id,superficie,fecha,lat,lng,idprovincia,idmunicipio,causa,muertos,heridos,...,TMIN,TMAX,VELMEDIA,RACHA,SOL,Trimestre,Mes,Año,DIR_VIENTO,PRES_RANGE
0,2001150021,5.0,2001-02-20,43.703581,-8.038777,A Coruña,CEDEIRA,negligencia,0,0,...,7.0,15.6,2-4 m/s,16.9,10.2,Q1,febrero,2001,E,4.4
1,2001150094,1.5,2001-02-25,43.186836,-8.685470,A Coruña,CARBALLO,intencionado,0,0,...,6.5,11.6,4-6 m/s,11.1,10.2,Q1,febrero,2001,NE,4.7
2,2001150145,1.5,2001-04-13,43.699889,-7.984566,A Coruña,CEDEIRA,negligencia,0,0,...,10.4,17.4,4-6 m/s,13.9,12.1,Q2,abril,2001,NE,3.2
3,2001150151,1.1,2001-04-13,42.758649,-8.917814,A Coruña,LOUSAME,causa desconocida,0,0,...,10.4,17.4,4-6 m/s,13.9,12.1,Q2,abril,2001,NE,3.2
4,2001150153,1.5,2001-04-13,43.063218,-9.235604,A Coruña,MUXÃÂA,intencionado,0,0,...,10.4,17.4,4-6 m/s,13.9,12.1,Q2,abril,2001,NE,3.2

In [29]:
df.shape

(12976, 12)

In [30]:
df.dtypes

superficie    float64
lat           float64
lng           float64
time_ctrl     float64
personal        int64
medios          int64
TMEDIA        float64
RACHA         float64
SOL           float64
Año             int64
PRES_RANGE    float64
target          int64
dtype: object

In [8]:
df.describe()

,id,superficie,lat,lng,muertos,heridos,time_ctrl,time_ext,personal,medios,TMEDIA,PRECIPITACION,TMIN,TMAX,RACHA,SOL,Año,PRES_RANGE
count,1.297600e+04,12976.000000,12976.000000,12976.000000,12976.000000,12976.000000,12976.000000,12976.000000,12976.000000,12976.000000,12976.000000,12976.000000,12976.000000,12976.000000,12976.000000,12976.000000,12976.000000,12976.000000
mean,2.005867e+09,2.586703,42.555421,-7.994614,0.000077,0.000462,1.781149,1.781149,12.281520,1.964396,16.584664,0.132167,9.717810,23.452366,8.537230,8.547102,2005.592555,3.836675
std,3.830998e+06,1.863610,0.451212,0.562395,0.008779,0.021499,0.894420,0.894420,7.252796,1.674277,5.954963,0.338685,6.252533,7.001220,3.298872,3.549735,3.828872,1.639618
min,2.001150e+09,1.000000,41.833819,-9.293500,0.000000,0.000000,0.040000,0.040000,0.000000,0.000000,-1.300000,0.000000,-8.600000,5.600000,1.700000,0.000000,2001.000000,0.000000
25%,2.003150e+09,1.250000,42.189372,-8.422458,0.000000,0.000000,1.170000,1.170000,6.000000,1.000000,12.400000,0.000000,5.200000,18.600000,6.100000,6.500000,2003.000000,2.600000
50%,2.005151e+09,2.000000,42.470163,-7.987553,0.000000,0.000000,1.500000,1.500000,11.000000,2.000000,17.400000,0.000000,10.600000,23.400000,8.100000,9.400000,2005.000000,3.600000
75%,2.009150e+09,3.000000,42.932203,-7.556844,0.000000,0.000000,2.310000,2.310000,16.000000,3.000000,21.100000,0.000000,14.900000,28.400000,10.600000,11.200000,2009.000000,4.900000
max,2.015361e+09,10.200000,43.730713,-6.771548,1.000000,1.000000,4.190000,4.190000,33.000000,8.000000,31.200000,1.000000,23.400000,42.000000,28.300000,14.800000,2015.000000,8.600000

# Exploratory Data Analysis (EDA)

In [21]:
profile = pandas_profiling.ProfileReport(df)
profile

Tab(children=(HTML(value='<div id="overview-content" class="row variable spacing">\n    <div class="row">\n   …

# Data Wrangling